# AWS Configuration (LocalStack Dummy Credentials)
AWS_ACCESS_KEY_ID=test
AWS_SECRET_ACCESS_KEY=test
AWS_DEFAULT_REGION=us-east-1

# LocalStack Endpoint
AWS_ENDPOINT_URL=http://localstack:4566


S3_BUCKET_RAW=raw-images-local
S3_BUCKET_PROCESSED=processed-images-local
SQS_QUEUE_NAME=image-processing-queue-local